@media (max-width: 768px) {
  .navbar-fixed-side {
    margin-left:-15px;
    margin-right:-15px;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side {
    position:fixed;
    margin:0 -15px;
    height:100vh;
    width:inherit;
    overflow:auto;
    border-top-width:0;
    border-bottom-width:0;
    border-radius:0;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .container, .navbar-fixed-side .container-fluid {
    width:auto;
    padding-left:0;
    padding-right:0;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-header {
    float:none;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-brand {
    height:auto;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side > .container .navbar-brand, .navbar-fixed-side > .container-fluid .navbar-brand {
    margin-left:0;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-collapse {
    width:100%;
    border-top:1px solid #e7e7e7;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav {
    float:none;
    margin:0 -15px;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav > li {
    float:none;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav > li > a {
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-form {
    margin:0;
    margin-left:-15px;
    margin-right:-15px;
    padding:10px 15px;
    border-bottom:1px solid #e7e7e7;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-text {
    float:none;
    margin-left:0;
    margin-right:0;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-left, .navbar-fixed-side .navbar-right {
    float:none !important;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav .dropdown-menu {
    position:static;
    float:none;
    width:auto;
    margin-top:0;
    background-color:transparent;
    border:0;
    box-shadow:none;
    border-bottom:1px solid #e7e7e7;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav .dropdown-menu > li > a, .navbar-fixed-side .navbar-nav .dropdown-menu .dropdown-header {
    padding:5px 15px 5px 25px;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav .dropdown-menu > li > a {
    line-height:20px;
    color:#777;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover, .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:focus {
    background-image:none;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav .dropdown-menu > .active > a {
    background-color:#e7e7e7;
    color:#555;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .navbar-nav > li > a:hover, .navbar-fixed-side .navbar-nav > li > a:focus, .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:hover, .navbar-fixed-side .navbar-nav .dropdown-menu > li > a:focus {
    background-color:#f0f0f0;
    color:#333;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .dropdown > .dropdown-toggle, .navbar-fixed-side .dropdown-menu > .dropdown-header {
    background-color:transparent !important;
    color:#9d9d9d !important;
    cursor:default;
    font-size:0.8em;
    text-transform:uppercase;
    border-bottom:none;
    padding-bottom:0;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .dropdown-toggle .caret {
    display:none;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side .dropdown-menu {
    display:block;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side.navbar-inverse .navbar-collapse, .navbar-fixed-side.navbar-inverse .navbar-nav > li > a, .navbar-fixed-side.navbar-inverse .navbar-form, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu {
    border-color:#363636;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side.navbar-inverse .divider {
    background-color:#363636;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li > a {
    color:#9d9d9d;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > .active > a {
    background-color:#090909;
    color:#fff;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side.navbar-inverse .navbar-nav > li:not(.active) > a:hover, .navbar-fixed-side.navbar-inverse .navbar-nav > li:not(.active) > a:focus, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li:not(.active) > a:hover, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu > li:not(.active) > a:focus {
    background-color:#2f2f2f;
    color:#fff;
  }
}

@media (min-width: 768px) {
  .navbar-fixed-side.navbar-inverse .dropdown > .dropdown-toggle {
    color:#777777 !important;
  }
}

.col-sm-3.col-lg-2 {
  color:#fff;
  background:#333;
}

